.git
.gitignore
.gitattributes
.github

**/node_modules
**/dist
**/build
**/.next
**/.out
**/.expo
**/.turbo
**/*.tsbuildinfo
**/.pnp

*.log
pnpm-debug.log*
.env
.env.*
!.env.example
.gitkeep

coverage
.nyc_output
.vscode
.idea